
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat With Me</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="login-box">
    <h1>验证</h1>
    <form id="login-form" action="" method="post">
        <div class="textbox">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="输入通行证：" name="username" required>
        </div>
<!--        <div class="textbox">-->
<!--            <i class="fa fa-lock"></i>-->
<!--            <input type="password" placeholder="Password" name="password" required>-->
<!--        </div>-->
        <button type="submit" class="btn">进入</button>
    </form>
</div>
<script src="login.js"></script>
</body>
</html>


